mat-card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

img {
    border-radius: 50%;
    width: fit-content;
}

button {
    margin: 5px;
}